 body {
  color: rgb(49, 3, 3);
 
}

.image-cover {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;

}

.content-image {
 
 max-height: 100%;
  position: relative;
  z-index: 2;
  padding: 1rem 1.5rem;
  animation: fadeIn 1.2s ease-in-out;

}



a {
  color: rgb(43, 33, 33);
  font-size: 13px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color:#49260a;
  margin: 0;
}

header {
  display: flex;
  margin: 30px 0;
  justify-content:  space-between;
}

header p {
  margin: 0;
  opacity: 0.9;
  line-height: 1.5;
}

header h1 {
  margin:  0;
}

header img {
  max-width: 70px;
  border-radius: 100px;
}

.container {
  margin:  60px auto;
  max-width: 600px;

}


.header img {
  margin-top: 5px;
}

.poem {
  font-size: 16px;
  padding: 20px;
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  border-left: 3px solid rgb(104, 2, 2);
  background-color: #fff;
}

.poem strong {
  color:rgb(104, 2, 2) ;
}

.hidden {
  display: none;
}

.form-container {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}

form {
  display: flex;
  }

.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}

.instructions {
  padding: 15px 20px;
  border: 1px solid rgb(104, 2, 2);
  width: 80%;
  font-weight: 400;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color:rgb(104, 2, 2) ;
}

.waiting {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.btn {
  margin-left: 10px;
  background: rgb(116, 50, 19);
  padding: 14px 24px;
  border-radius: 50px;
  border: none;
  color: #b4a14b;
}

.btn:hover {
 background: #b4a14b;
 color:  rgb(117, 56, 28) ;

}

.btn:disabled {
  opacity: 0.5;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  color: #2e2b2b;
}


@media (max-width: 900px) {
  header {
    text-align: center;
    display: block;
    margin: 45px 15px;
  }

  header p {
    margin: 10px 0;
    font-size: 18px;  
  }

  header img {
    margin-top: 30px;
  }

  .form-container {
    padding: 20px;
  }

  .container {
    margin: 30px auto;
  }
}